.rooms{
    
    margin:10px;
    display: flex;
    flex-direction: column;
}
.room-bar{
    border-radius: 10px;
    background: #38b8a8;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
