* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background: #fff;
    position: relative;
    z-index: 100;
    height: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.nav-bar .symbol {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rancho', cursive;
    margin-left: 30px;
    line-height: 70px;
    color: rgba(58, 164, 235, 0.53);
    font-size: 35px;
}

.nav-bar-info-User img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-bar .search-bar {
    display: flex;
    align-items: center;
    width: 35%;
}

.nav-bar .nav-bar-info-User {
    width: 20%;
    display: flex;
    align-items: center;
}

.nav-bar .nav-bar-info-User div {
    margin: 0 10px;
}

.nav-bar .nav-bar-info-User .log-out-bnt {
    margin-left: 50px;
}

.nav-bar-info-User i {
    font-size: 20px;
    color: #2427ffa8;
}

.nav-bar-info-User .user-name {
    font-family: 'Open Sans', sans-serif;
}

.search-bar div {
    height: 34px;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.search-bar div input {
    font-weight: 400;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 30px;
    outline: none;
    background: #C4C4C4;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.search-bar div i {
    color: #0b15b3a3;
    position: absolute;
    right: 10px;
    top: 8px;
}


/* ----------------------------------------------- end of nav bar------------------------------- */


/* ---------------------------------------main container--------------------------------- */

.main-container {
    height: calc(100vh - 80px);
    background: #EEF1F3;
    display: flex;
}

.left-container {
    width: 20%;
    background: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* display: none; */
}

.left-container::-webkit-scrollbar {
    display: none;
}

.left-container>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.left-container .class-name {
    margin-top: 10px;
    width: 100%;
    height: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.left-container .teacher-info,
.students {
    display: flex;
    flex-direction: column;
}

.info {
    margin-top: 15px;
    width: 85%;
    display: flex;
    padding: 0 10px;
}

.info div {
    text-align: center;
    flex-grow: 1;
    line-height: 60px;
}

.students .student-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-container .title {
    display: flex;
    flex-direction: column;
}

.left-container .title p {
    padding: 0 20px 15px 20px;
}


/* -------------------------------------------------right container----------------------- */

.left-container label {
    font-size: 18px;
    margin-top: 20px;
}

.right-container {
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
}

.right-container .room-list {
    margin-top: 20px;
    width: 90%;
}

.right-container .room-list .room-bar {
    justify-content: space-between;
    background: #fff;
    height: 40px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}

.room-list .room-bar div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
    text-align: center;
    width: 20%;
}

.right-container .room-list .room-bar:hover {
    background: #c5c2c2;
}

.new-room-bnt {
    font-size: 15px;
    color: rgba(1, 1, 1, 0.8);
    cursor: pointer;
    margin-top: 20px;
    width: 135px;
    height: 40px;
    outline: none;
    background: #8DD4F2;
    border: 1px solid #00E1EF;
    box-sizing: border-box;
}

.new-room-bnt:hover {
    transform: scale(1.1)
}

.show {
    position: fixed;
    display: block!important;
    right: 0;
    background: white;
    width: 31%! important;
    height: 100%;
}